$title-div-height: 45pt;



.app {
    display: grid;
    grid-template-rows: $title-div-height auto;
    grid-row-gap: 20pt;


    .navbar{
        position: absolute;
        top:0;
        left:0;
        width: 100vw;
        background: rgba(0,0,0, 0.8);
        color: white;
        grid-row:1;
        height: $title-div-height;
        display: grid;
        grid-template-columns: 25% 50% 25%;

        .title{
            font-size: $title-div-height/2;
            text-align: center;
            grid-column: 2;
            align-self: center;
        }

        .flom{
            grid-column: 3;
            text-align: center;
            align-self: center;
            display: grid;
            grid-template-columns: 50% 50%;

            button {
                color: white;
                font-size: 15pt;
                width: 90%;
                height: 28pt;
                border: 0pt;
                border-radius: 20pt;
                background: rgba(255, 255, 255, 0.4);
                background-size: cover;
                outline: 0;
                font-weight: 600;
            }
        }
    }

    .photos{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        justify-content: space-evenly;
        grid-row-gap: 20pt;
        grid-row:2;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
}