body {
  margin: 0;
}

.app {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-rows: 40pt auto;
      grid-template-rows: 40pt auto;
}

.app .navbar {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100vw;
  height: 40pt;
  background: rgba(50, 50, 50, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .navbar .title {
  margin: 0 5pt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 32pt;
}

.app .navbar .flom {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10pt;
}

.app .navbar .flom button {
  height: 24.888pt;
  width: 133.332pt;
  background: rgba(255, 255, 255, 0.9);
  border: 0pt;
  border-radius: 20pt;
  outline: 0;
  margin: 0 5pt 0 0;
  color: rgba(50, 50, 50, 0.8);
  font-size: 13.332pt;
  font-weight: 600;
}

.app .navbar .flom button a {
  font-size: 13.332pt;
  font-weight: 600;
  color: rgba(50, 50, 50, 0.8);
  text-decoration: none;
  display: block;
  width: 100%;
}

.app .photos {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.app .photos .onePhoto {
  border: 1pt solid black;
  border-radius: 5pt;
  width: 106.664pt;
  height: 106.664pt;
  margin: 5pt;
}

.modal {
  position: fixed;
  top: 40pt;
  border: 0;
  outline: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  background: rgba(50, 50, 50, 0.8);
}

@media (max-width: 1010px) {
  body {
    margin: 0;
  }
  .app {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    -ms-grid-rows: 30pt auto;
        grid-template-rows: 30pt auto;
  }
  .app .navbar {
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100vw;
    height: 30pt;
    background: rgba(50, 50, 50, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app .navbar .title {
    margin: 0 5pt;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: white;
    font-size: 24pt;
  }
  .app .navbar .flom {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10pt;
  }
  .app .navbar .flom button {
    height: 18.666pt;
    width: 99.999pt;
    background: rgba(255, 255, 255, 0.9);
    border: 0pt;
    border-radius: 20pt;
    outline: 0;
    margin: 0 5pt 0 0;
    color: rgba(50, 50, 50, 0.8);
    font-size: 9.999pt;
    font-weight: 600;
  }
  .app .navbar .flom button a {
    font-size: 9.999pt;
    font-weight: 600;
    color: rgba(50, 50, 50, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .app .photos {
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .photos .onePhoto {
    border: 1pt solid black;
    border-radius: 5pt;
    width: 79.998pt;
    height: 79.998pt;
    margin: 5pt;
  }
  .modal {
    position: fixed;
    top: 30pt;
    border: 0;
    outline: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.8);
  }
}

@media (max-width: 680px) {
  body {
    margin: 0;
  }
  .app {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    -ms-grid-rows: 20pt auto;
        grid-template-rows: 20pt auto;
  }
  .app .navbar {
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100vw;
    height: 20pt;
    background: rgba(50, 50, 50, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app .navbar .title {
    margin: 0 5pt;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: white;
    font-size: 16pt;
  }
  .app .navbar .flom {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10pt;
  }
  .app .navbar .flom button {
    height: 12.444pt;
    width: 66.666pt;
    background: rgba(255, 255, 255, 0.9);
    border: 0pt;
    border-radius: 20pt;
    outline: 0;
    margin: 0 5pt 0 0;
    color: rgba(50, 50, 50, 0.8);
    font-size: 6.666pt;
    font-weight: 600;
  }
  .app .navbar .flom button a {
    font-size: 6.666pt;
    font-weight: 600;
    color: rgba(50, 50, 50, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .app .photos {
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app .photos .onePhoto {
    border: 1pt solid black;
    border-radius: 5pt;
    width: 53.332pt;
    height: 53.332pt;
    margin: 5pt;
  }
  .modal {
    position: fixed;
    top: 20pt;
    border: 0;
    outline: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 0.8);
  }
}
/*# sourceMappingURL=App.css.map */