.modalContainer {
  position: realtive;
  width: 100vw;
  height: 100vw;
  z-index: 15;
  margin: 0pt auto auto auto;
  border-radius: 0pt;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 15% 10% 40% 10% 15% 5%;
      grid-template-columns: 5% 15% 10% 40% 10% 15% 5%;
  -ms-grid-rows: 10pt 500pt 20pt 100pt 20pt;
      grid-template-rows: 10pt 500pt 20pt 100pt 20pt;
  grid-row-gap: 5pt;
}

.modalContainer .modalCenter {
  background: rgba(50, 50, 50, 0.9);
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  background: rgba(255, 255, 255, 0);
  border-radius: 7pt;
}

.modalContainer .modalLeft {
  background: rgba(50, 50, 50, 0.9);
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modalContainer .modalLeft button {
  background: url("../Assets/Images/left.jpg");
  background-size: cover;
  border: 0pt;
  width: 26pt;
  height: 26pt;
  border-radius: 5pt;
}

.modalContainer .modalLeft button:focus {
  outline: 0;
}

.modalContainer .modalRight {
  background: rgba(50, 50, 50, 0.9);
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.modalContainer .modalRight button {
  background: url("../Assets/Images/right.jpg");
  background-size: cover;
  border: 0pt;
  width: 26pt;
  height: 26pt;
  border-radius: 5pt;
}

.modalContainer .modalRight button:focus {
  outline: 0;
}

.modalContainer .modalBottom {
  background: rgba(50, 50, 50, 0);
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 4;
  grid-row: 4;
  border-radius: 10pt;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  padding: 0;
}

.modalContainer .modalBottom .mini1 {
  margin: 3pt;
  -ms-grid-column: 1;
  grid-column: 1;
}

.modalContainer .modalBottom .mini2 {
  margin: 3pt;
  -ms-grid-column: 2;
  grid-column: 2;
}

.modalContainer .modalBottom .mini3 {
  margin: 3pt;
  -ms-grid-column: 3;
  grid-column: 3;
}

.modalContainer .modalBottom .mini4 {
  margin: 3pt;
  -ms-grid-column: 4;
  grid-column: 4;
}

.modalContainer .modalBottom .mini5 {
  margin: 3pt;
  -ms-grid-column: 5;
  grid-column: 5;
}

.modalContainer .modalBottom .mini6 {
  padding: 12pt;
  width: 60%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 6;
  grid-column: 6;
}

.modalContainer .modalBottom .mini7 {
  margin: 3pt;
  -ms-grid-column: 7;
  grid-column: 7;
}

.modalContainer .modalBottom .mini8 {
  margin: 3pt;
  -ms-grid-column: 8;
  grid-column: 8;
}

.modalContainer .modalBottom .mini9 {
  margin: 3pt;
  -ms-grid-column: 9;
  grid-column: 9;
}

.modalContainer .modalBottom .mini10 {
  margin: 3pt;
  -ms-grid-column: 10;
  grid-column: 10;
}

.modalContainer .modalBottom .mini11 {
  margin: 3pt;
  -ms-grid-column: 11;
  grid-column: 11;
}

.modalContainer .closeModal {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 20pt 0;
}

.modalContainer .closeModal button {
  background: url("../Assets/Images/close.svg");
  background-size: cover;
  border: 0pt;
  width: 26pt;
  height: 26pt;
  border-radius: 5pt;
}

.modalContainer .closeModal button:focus {
  outline: 0;
}

.modalContainer .deleteImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 20pt 5vw;
  font-size: 25pt;
  line-height: 30pt;
  height: 30pt;
  padding: 3pt 8pt 3pt 5pt;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5pt;
}

.modalContainer .deleteImage button {
  background: url("../Assets/Images/delete.svg");
  background-size: cover;
  border: 0pt;
  width: 26pt;
  height: 26pt;
  border-radius: 5pt;
}

.modalContainer .deleteImage button:focus {
  outline: 0;
}

.imgCounter {
  background: rgba(0, 0, 0, 0.37);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5pt 10pt;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  height: 23pt;
  border-radius: 3pt;
}

.imgCounter img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 4pt;
  width: 15pt;
  height: 15pt;
}

.imgCounter span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 15pt;
  font-size: 13pt;
  margin-left: 5pt;
  margin-right: 5pt;
}
/*# sourceMappingURL=BigPictureModal.css.map */